/vendor/
/node_modules/
.env
.DS_Store
*.log
src/vendor/
src/storage/framework/cache/data/*
!src/storage/framework/cache/data/.gitkeep
src/storage/framework/sessions/*
!src/storage/framework/sessions/.gitkeep
src/storage/framework/views/*
!src/storage/framework/views/.gitkeep
src/storage/app/products/*
!src/storage/app/products/.gitignore
src/storage/logs/*