APP_NAME=ws-digital-generic
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=ws_digital_generic
DB_USERNAME=wsdg
DB_PASSWORD=wsdg_secret

REDIS_HOST=redis
REDIS_PORT=6379

CRYPTO_BTC_XPUB=
CRYPTO_BTC_NETWORK=testnet
CRYPTO_LN_ENDPOINT=http://btcpay:49392
CRYPTO_LN_KEY=
CRYPTO_EVM_RPC=https://sepolia.infura.io/v3/
CRYPTO_EVM_CHAIN=11155111
CRYPTO_XMR_RPC=http://monero:18089

DELIVERY_MAIL_FROM=shop@ws-digital-generic.com
DELIVERY_TELEGRAM_BOT_TOKEN=
DELIVERY_WHATSAPP_API_KEY=